/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap');

/* RESET */

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Mulish', Helveltica, sans-serif;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

/* COLORS AND FONTS */

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-image: url(img/biblebackground.jpg);
    background-position: 10% 20%;
    color: white;
}

#back-color {
    background-color: #00000080;
    width: 100vw;
    height: 100vh;
}

header{
    border-color: linear-gradient(transparent 10%, white 11%, white 89%, transparent 100%);
    align-items: center;    
    display: flex;
    justify-content: center;
    background-color: #00000040;
    backdrop-filter: blur(1vh);
}

#header-logo{
    font-family: 'Satisfy';
    color: white;
}

section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #00000040;
    backdrop-filter: blur(1vh);
}

section h2{
    text-align: center;
}

a, a:active, a:visited{
    color: white;
}

form{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

section input{
    border: 2px solid white;
    color: white;
    background-color: transparent;
    transition-duration: .2s;
}

#submit:hover{
    background-color: white;
    color: black;
    transition-duration: .5s;
    mask-clip: text;
}

footer{
    background-color: #00000040;
    backdrop-filter: blur(1vh);
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    header{
        height: 10vh;
        border-bottom: 2px solid white;
        width: 100vw;
    }

    main{
        width: 100vw;
        min-height: 80vh;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    section{
        margin: 10vh 0;
        width: fit-content;
        padding: 5vh;
        border: 2px solid white;
        border-radius: 10vh;
    }

    section h2{
        margin-bottom: 2.5vh;
    }

    form{
        margin: 0 auto;
        display: flex;
        min-height: 40vh;
        max-width: 90vw;
        flex-wrap: wrap;
    }

    .text-input{
        margin: 2.5vh 0;
        border-radius: 6.25vh;
        min-height: 10vh;
        max-height: 12.5vh;
        padding: 2vh;
        font-size: 2.5vh;
        margin: 0;
    }

    form input {
        margin: 2.5vh 0;
        width: 80vw;
        height: 10vh;
        border-radius: 5vh;
    }

    #signup p{
        margin-bottom: 2.5vh;
    }

    #signup {
        max-width: 90vw;
    }

    #signup .text-input{
        border-radius: 6.25vh;
        min-height: 10vh;
        max-height: 12.5vh;
        padding: 2vh;
        font-size: 2.5vh;
        min-width: 80vw;
        margin: 1vh 0;
    }
    
    footer{
        width: 100vw;
        border-top: 2px solid white;
        height: 10vh;
    }

}

@media (min-width: 575.99px) {
    header{
        height: 10vh;
        border-bottom: 2px solid white;
    }

    main{
        height: 80vh;   
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    section{
        min-width: 65vw;
        max-width: 80vw;
        width: fit-content;
        height: 85%;
        padding: 5vh;
        border: 2px solid white;
        border-radius: 10vh;
    }

    section h2{
        align-self: top;
    }

    form{
        height: 70%;
        display: flex;
        flex-wrap: wrap;
    }

    .text-input{
        border-radius: 6.25vh;
        min-height: 10vh;
        max-height: 12.5vh;
        padding: 2vh;
        font-size: 2.5vh;
        min-width: 65vw;
        max-width: 75vw;
        margin: 0;
    }

    form input {
        width: 40%;
        height: 15%;
        border-radius: 5vh;
    }

    #signup {
        min-width: 90vw;
        max-width: 95vw;
    }

    #signup-form {

    }

    #signup .text-input{
        border-radius: 6.25vh;
        min-height: 10vh;
        max-height: 12.5vh;
        padding: 2vh;
        font-size: 2.5vh;
        min-width: 15vw;
        max-width: 100vw;
        margin: 1vh 1vw;
    }
    
    footer{
        border-top: 2px solid white;
        height: 10vh;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
    header{
        height: 10vh;
        border-bottom: 2px solid white;
    }

    main{
        height: 80vh;   
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    section{
        min-width: 55vw;
        max-width: 60vw;
        width: fit-content;
        height: 85%;
        padding: 5vh;
        border: 2px solid white;
        border-radius: 10vh;
    }

    section h2{
        align-self: top;
    }

    form{
        height: 70%;
        display: flex;
        flex-wrap: wrap;
    }

    .text-input{
        border-radius: 6.25vh;
        min-height: 10vh;
        max-height: 12.5vh;
        padding: 2vh;
        font-size: 2.5vh;
        min-width: 55vw;
        max-width: 100vw;
        margin: 0;
    }

    form input {
        width: 40%;
        height: 15%;
        border-radius: 5vh;
    }

    #signup {
        min-width: 75vw;
        max-width: 90vw;
    }

    #signup .text-input{
        border-radius: 6.25vh;
        min-height: 10vh;
        max-height: 12.5vh;
        padding: 2vh;
        font-size: 2.5vh;
        min-width: 15vw;
        max-width: 100vw;
        margin: 1vh 1vw;
    }
    
    footer{
        border-top: 2px solid white;
        height: 10vh;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
    header{
        height: 10vh;
        border-bottom: 2px solid white;
    }

    main{
        height: 80vh;   
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    section{
        min-width: 45vw;
        max-width: 50vw;
        width: fit-content;
        height: 85%;
        padding: 5vh;
        border: 2px solid white;
        border-radius: 10vh;
    }

    section h2{
        align-self: top;
    }

    form{
        height: 70%;
        display: flex;
        flex-wrap: wrap;
    }

    .text-input{
        border-radius: 6.25vh;
        min-height: 10vh;
        max-height: 12.5vh;
        padding: 2vh;
        font-size: 2.5vh;
        min-width: 45vw;
        max-width: 100vw;
        margin: 0;
    }

    form input {
        width: 40%;
        height: 15%;
        border-radius: 5vh;
    }

    #signup {
        min-width: 65vw;
        max-width: 70vw;
    }

    #signup-form {

    }

    #signup .text-input{
        border-radius: 6.25vh;
        min-height: 10vh;
        max-height: 12.5vh;
        padding: 2vh;
        font-size: 2.5vh;
        min-width: 15vw;
        max-width: 100vw;
        margin: 1vh 1vw;
    }
    
    footer{
        border-top: 2px solid white;
        height: 10vh;
    }

}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
    header{
        height: 10vh;
        border-bottom: 2px solid white;
    }

    main{
        height: 80vh;   
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    section{
        min-width: 35vw;
        max-width: 40vw;
        width: fit-content;
        height: 85%;
        padding: 5vh;
        border: 2px solid white;
        border-radius: 10vh;
    }

    section h2{
        align-self: top;
    }

    form{
        height: 70%;
        display: flex;
        flex-wrap: wrap;
    }

    .text-input{
        border-radius: 6.25vh;
        min-height: 10vh;
        max-height: 12.5vh;
        padding: 2vh;
        font-size: 2.5vh;
        min-width: 35vw;
        max-width: 100vw;
        margin: 0;
    }

    form input {
        width: 40%;
        height: 15%;
        border-radius: 5vh;
    }

    #signup .text-input{
        border-radius: 6.25vh;
        min-height: 10vh;
        max-height: 12.5vh;
        padding: 2vh;
        font-size: 2.5vh;
        min-width: 15vw;
        max-width: 100vw;
        margin: 1vh 1vw;
    }

    #signup{
        min-width: 45vw;
        max-width: 50vw;
    }

    #signup-form{
        min-width: 45vw;
        max-width: 50vw;
    }
    
    footer{
        border-top: 2px solid white;
        height: 10vh;
    }

}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1399.99px) {}